@if (loading) {
  <app-throbber></app-throbber>
} @else {
  <div class="fields-wrapper" [formGroup]="form">
    <div class="field-wrapper" [hidden]="active !== 0" formGroupName="0">
      <div class="field">
        <div>
          <p class="label">Выберите кота</p>
          @if (getControl(0, 'cat').errors?.['required'] && getControl(0, 'cat').touched) {
            <p class="error">Поле обязательно для заполнения</p>
          }
        </div>
        <select formControlName="cat" (invalid)="getControl(0, 'cat').invalid">
          @for (option of optionsCat; track $index) {
            <option [value]="getItem('cat', $index)">{{option.text}}</option>
          }
        </select>
      </div>
      <div class="field">
        <div>
          <p class="label">Телефон для связи</p>
          @if (getControl(0, 'telephone').errors && getControl(0, 'telephone').touched) {
            @if (getControl(0, 'telephone').errors?.['required']) {
              <p class="error">Поле обязательно для заполнения</p>
            }
            @if (getControl(0, 'telephone').errors?.['pattern']) {
              <p class="error">Введите 11 цифр</p>
            }
          }
        </div>
<input formControlName="telephone" placeholder="Ваш телефон"
(invalid)="getControl(0, 'telephone').invalid">
</div>
<div class="field">
<div>
<p class="label">Email для связи</p>
@if (getControl(0, 'email').errors?.['pattern'] && getControl(0, 'email').touched) {
<p class="error">Проверти правильность E-mail</p>
}
</div>
<input formControlName="email" type="email" placeholder="Ваш E-mail"
(invalid)="getControl(0, 'email').invalid">
      </div>
    </div>
    <div class="field-wrapper" [hidden]="active !== 1" formGroupName="1">
      <div class="field">
        <div>
          <p class="label">Мастер</p>
          @if (getControl(1, 'groomer')?.errors?.['required'] && getControl(1, 'groomer')?.touched) {
            <p class="error">Поле обязательно для заполнения</p>
          }
        </div>
        <select formControlName="groomer" (invalid)="getControl(1, 'groomer').invalid">
          @for (groom of groomerOptions; track $index) {
            <option [value]="getItem('groom', $index)">{{groom.text}}</option>
          }
        </select>
      </div>
      <div class="field">
        <div>
          <p class="label">Дата</p>
          @if (getControl(1, 'date').errors && getControl(1, 'date').touched) {
            @if (getControl(1, 'date').errors?.['required']) {
              <p class="error">Поле обязательно для заполнения</p>
            }
            @if (getControl(1, 'date').errors?.['minDate']) {
              <p class="error">Выберите дату в будущем</p>
            }
          }
        </div>
        <input formControlName="date" type="date" (invalid)="getControl(1, 'date').invalid">
      </div>
      <div class="field">
        <div>
          <p class="label">Время</p>
          @if (getControl(1, 'time').errors?.['required'] && getControl(1, 'time').touched) {
            <p class="error">Поле обязательно для заполнения</p>
          }
        </div>
        <input formControlName="time" type="time" list="time_list" (invalid)="getControl(1, 'time').invalid">
        <datalist id="time_list">
          <option value="10:00">
          <option value="11:30">
          <option value="13:00">
          <option value="14:30">
          <option value="16:00">
          <option value="17:30">
          <option value="18:00">
        </datalist>
      </div>
    </div>

    @if (active === 2) {
      <app-check-info [data]="getResult"></app-check-info>
    }
  </div>
}
