<!--Файл трогаем аккуратно :/-->

@if (loading) {
  <app-throbber></app-throbber>
} @else {
  <div class="fields-wrapper" [formGroup]="form">
    <div class="field-wrapper" [hidden]="active !== 0" formGroupName="0">
      <div class="field">
        <div>
          <p class="label">Выберите кота</p>
          @if (getControl(0, 'cat').errors?.['required'] && getControl(0, 'cat').touched) {
            <p class="error">Поле обязательно для заполнения</p>
          }
        </div>
        <select formControlName="cat" (change)="onCatSelect()">
          @for (option of optionsCat; track $index) {
            <option [value]="getItem('cat', $index)">{{option.text}}</option>
          }
        </select>
      </div>
    </div>
    <div class="field-wrapper" [hidden]="active !== 1" formGroupName="1">
      <!-- второе окно -->
      <div class="field">
        <div>
          <p class="label">Результаты К-ЕГЭ для <span class="cat-name-highlight">{{ selectedCatName }}</span></p>
        </div>
        <!--таблица егэ-->
        <table class="ege-table" *ngIf="examScores.length > 0; else noExams">
          <tbody>
          <tr *ngFor="let exam of examScores">
            <td class="subject-name">{{ exam.subjectName }}</td>
            <td class="score">{{ exam.score }}</td>
          </tr>
          </tbody>
        </table>
        <!--ошибки экзаменов-->
        <ng-template #noExams>
          <p *ngIf="!errorMessageStepTwo"><span class="error"></span></p>
          <p *ngIf="errorMessageStepTwo"><span class="error">{{ errorMessageStepTwo }}</span></p>
        </ng-template>
      </div>

      </div>

    <div class="field-wrapper" [hidden]="active !== 2" formGroupName="2">
      <!-- третье окно -->
      <div class="field">
        <div>
          Сумма баллов К-ЕГЭ для <span class="cat-name-highlight">{{ selectedCatName }}</span> =
          <span class="total-score">{{ getTotalScore() }}</span>
        </div>
        <!--таблица университетов-->
        <table class="university-table" *ngIf="universities.length > 0; else noUniversities">
          <tbody>
          <tr *ngFor="let university of universities">
            <td class="university-name">{{ university.universityName }}</td>
            <td class="score">{{ university.universityScore }}</td>
          </tr>
          </tbody>
        </table>
        <!--ошибки университетов-->
        <ng-template #noUniversities>
          <p *ngIf="!errorMessageStepThree"><span class="error"></span></p>
          <p *ngIf="errorMessageStepThree"><span class="error">{{ errorMessageStepThree }}</span></p>
        </ng-template>
      </div>
    </div>
  </div>
}
