<head>
  <meta charset="UTF-8" />
  <title>Две панели</title>
  <style>

    .container {
      display: flex;
      height: 80vh;
    }

    .left-panel {
      width: 50%;
      background-color: #E3EBFC;
      padding: 0px;
      background-color: #E3EBFC
    }

    .right-panel {
      width: 50%; /* или другая ширина */
      background-color: #E3EBFC; /* цвет фона правой панели */
      padding: 20px;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="left-panel">

    <form (ngSubmit)=" submitFeedback()" #feedbackForm="ngForm" style="margin-left: 80px;">
      <div style="width: 400px; margin-top: 24px;">
        <h2 style="font-size: 28px;">Добавить отзыв</h2>
        <!-- Блок для выбора записи -->
        <div style="margin-bottom: 20px;"></div>
        <label for="orderId" style="font-size: 18px;">Список записей</label>
        <select id="orderId" name="orderId" [(ngModel)]="orderId" required style="font-size: 18px; border: 1px solid #000;">
          <option [ngValue]="null" style="font-size:18px;">Выберите запись</option>
          @for (order of orders; track $index) {
            <option [ngValue]="order.id" style="font-size:14px;">
              {{order.id}}. {{order.name}} | {{ order.created.slice(0, 10) }} | {{ order.created.slice(11, 19) }}
            </option>
          }
        </select>

        <!-- Блок для оценки -->
        <div style="margin-bottom: 20px; margin-top: 20px;">
          <label for="rating" style="font-size: 18px; display: block;">Оценка (1-5):</label>
          <select id="rating" name="rating" [(ngModel)]="rating" required style="font-size: 18px; border: 1px solid #000;">
            <option [ngValue]="null" style="font-size: 18px;">Выберите оценку</option>
            <option *ngFor="let r of [1,2,3,4,5]" [ngValue]="r">{{ r }}</option>
          </select>
        </div>
        <!-- Поле для комментария -->
        <div>
          <label for="comment" style="font-size: 18px;">Комментарий (не обязательно):</label>
          <textarea id="comment" name="comment" [(ngModel)]='comment' maxlength="128" style="font-size: 20px; border: 1px solid #000;" placeholder="Введите комментарий..."></textarea>
        </div>
      </div>
      <button type="submit" style="margin-top: 8px;">Отправить</button>
    </form>



  </div>
  <div class="right-panel">
    <form>
      <div style="width: 400px; margin-top: 24px;">
        <h2 style="font-size: 28px;">Ваши отзывы</h2>
        <!-- Блок для выбора записи -->
        <div style="margin-bottom: 20px;"></div>

        <!-- Блок для оценки -->


        <!-- Поле для комментария -->
      </div>
    </form>

  </div>
</div>
</body>


