<head>
  <style>
    body {
      font-family: "Arial", sans-serif;
      background-color: #f5f7fa; /* Светлый фон */
      margin: 0;
      padding: 40px;
    }

    .container {
      display: flex;
      gap: 30px;
      max-width: 50%;
      margin: 0 auto;
    }

    .panel {
      width: 100%; /* Каждая панель занимает половину контейнера */
      background-color: #ffffff; /* Белая основа */
      border: 1px solid #d1d1d1; /* Тонкая рамка */
      border-radius: 16px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); /* небольшая тень */
      padding: 30px;
      box-sizing: border-box;
    }
  </style>
</head>

<body>
<div class="container">
  <!-- Форма добавления отзыва -->
  <div class="panel">
    <form (ngSubmit)=" submitFeedback()" #feedbackForm="ngForm">
      <div style="width: 400px;">
        <h2 style="font-size: 28px;">Добавить отзыв</h2>
        <!-- Блок для выбора записи -->
        <div style="margin-bottom: 20px;"></div>
        <label for="orderId" style="font-size: 18px;">Список записей</label>
        <select id="orderId" name="orderId" [(ngModel)]="orderId" required style="font-size: 18px; border: 1px solid #000;">
          <option [ngValue]="null" style="font-size:18px;">Выберите запись</option>
          @for (order of orders; track $index) {
            <option [ngValue]="order.id" style="font-size:14px;">
              {{order.id}}. {{order.name}} | {{ order.created.slice(0, 10) }} | {{ order.created.slice(11, 19) }}
            </option>
          }
        </select>

        <!-- Блок для оценки -->
        <div style="margin-bottom: 20px; margin-top: 20px;">
          <label for="rating" style="font-size: 18px; display: block;">Оценка (1-5):</label>
          <select id="rating" name="rating" [(ngModel)]="rating" required style="font-size: 18px; border: 1px solid #000;">
            <option [ngValue]="null" style="font-size: 18px;">Выберите оценку</option>
            <option *ngFor="let r of [1,2,3,4,5]" [ngValue]="r">{{ r }}</option>
          </select>
        </div>
        <!-- Поле для комментария -->
        <div>
          <label for="comment" style="font-size: 18px;">Комментарий (не обязательно):</label>
          <textarea id="comment" name="comment" [(ngModel)]='comment' maxlength="128" style="font-size: 20px; border: 1px solid #000;" placeholder="Введите комментарий..."></textarea>
        </div>
      </div>
      <button type="submit" style="margin-top: 8px;">Отправить</button>
    </form>
  </div>

  <!-- Форма списка отзывов -->
  <div class="panel">
    <form>
      <div style="width: 400px;">
        <h2 style="font-size: 28px; margin-bottom: 24px;">Список отзывов</h2>
        <label for="orderId" style="font-size: 18px;">Отзывы</label>
        <select [(ngModel)]="selectedFeedbackOrderId" name="selectedFeedback" (change)="onSelect()" style="border: 1px solid #000;">
          <option [ngValue]="null" style="font-size:18px;">Выберите отзыв</option>
          <option *ngFor="let feedback of feedbacks" [ngValue]="feedback.orderId" >
            Отзыв по записи №{{feedback.orderId}}
          </option>
        </select>

        <!-- Вывод отзывов -->
        <div *ngIf="selectedFeedback" style="margin-top: 0px;">
          <!-- Заголовок для рейтинга -->
          <div style="margin-top: 20px; font-size: 18px;">Оценка</div>
          <!-- Блок с фоном для рейтинга -->
          <div style="background-color: #f5f7fa; padding: 12px; border: 1px solid #000; border-radius: 4px; margin-bottom: 16px;">
            <span style="font-size: 18px;">{{selectedFeedback.rating}}</span>
          </div>
          <!-- Заголовок для комментария -->
          <div style="margin-bottom: 0px; font-size: 18px;">Комментарий</div>
          <!-- Блок с фоном для комментария -->
          <div style="background-color: #f5f7fa; padding: 20px; border: 1px solid #000; border-radius: 4px;">
            <span style="font-size: 18px;">{{selectedFeedback.comment}}</span>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>
</body>


