@if (loading) {
<app-throbber></app-throbber>
} @else {
<div class="fields-wrapper" [formGroup]="form">
  <div class="field-wrapper" [hidden]="active !== 0" formGroupName="0">
    <div class="field">
      <div>
        <p class="label">Выберите кота</p>
        @if (getControl(0, 'cat').errors?.['required'] && getControl(0, 'cat').touched) {
        <p class="error">Поле обязательно для заполнения</p>
        }
      </div>
      <select formControlName="cat">
        @for (option of optionsCat; track $index) {
        <option [value]="getItem('cat', $index)">{{option.text}}</option>
        }
      </select>
    </div>

    <div class="field">
      <div>
        <p class="label">Выберите спортзал</p>
        @if (getControl(0, 'fitness_club').errors?.['required'] && getControl(0, 'fitness_club').touched) {
        <p class="error">Поле обязательно для заполнения</p>
        }
      </div>
      <select formControlName="fitness_club">
        @for (option of optionsFitness; track $index) {
        <option [value]="option.id">{{option.text}}</option>
        }
      </select>
    </div>
  </div>
</div>
}
