@if (loading) {
  <app-throbber></app-throbber>
} @else {
<div class="fields-wrapper" [formGroup]="form">
  <!-- Шаг 0 -->
  <div class="field-wrapper" [hidden]="active !== 0" formGroupName="0">
    <!-- Выбор кота -->
    <div class="field">
      <div>
        <p class="label">Выберите кота</p>
        @if (getControl(0, 'cat').errors?.['required'] && getControl(0, 'cat').touched) {
          <p class="error">Поле обязательно для заполнения</p>
        }
      </div>
      <select formControlName="cat">
        @for (option of optionsCat; track $index) {
          <option [value]="getItem('cat', $index)">{{option.text}}</option>
        }
      </select>
    </div>

    <!-- Тип курса -->
    <div class="field">
      <div>
        <p class="label">Тип курса</p>
        @if (getControl(0, 'course').errors?.['required'] && getControl(0, 'course').touched) {
          <p class="error">Поле обязательно для заполнения</p>
        }
      </div>
      <select formControlName="course">
        @for (option of courseOptions; track $index) {
          <option [value]="getItem('cou', $index)">{{option.text}}</option>
        }
      </select>
    </div>

    <!-- Дата -->
    <div class="field">
      <div>
        <p class="label">Дата</p>
        @if (getControl(0, 'date').errors && getControl(0, 'date').touched) {
          @if (getControl(0, 'date').errors?.['required']) {
            <p class="error">Поле обязательно для заполнения</p>
          }
          @if (getControl(0, 'date').errors?.['minDate']) {
            <p class="error">Некорректная дата</p>
          }
        }
      </div>
      <input type="date" formControlName="date" placeholder="Выберите дату" />
    </div>

    <!-- Время -->
    <div class="field">
      <div>
        <p class="label">Время</p>
        @if (getControl(0, 'time').errors?.['required'] && getControl(0, 'time').touched) {
          <p class="error">Поле обязательно для заполнения</p>
        }
      </div>
      <input formControlName="time" type="time" list="time_list" (invalid)="getControl(0, 'time').invalid">
      <datalist id="time_list">
        <option value="08:00">
        <option value="09:00">
        <option value="10:00">
        <option value="11:00">
        <option value="12:00">
        <option value="13:00">
      </datalist>
    </div>
  </div>

  <!-- Шаг 1 -->
  <div class="field-wrapper" [hidden]="active !== 1" formGroupName="1">
    <!-- Учитель (выпадающий список) -->
    <div class="field">
      <div>
        <p class="label">Учитель</p>
        @if (getControl(1, 'teacher').errors?.['required'] && getControl(1, 'teacher').touched) {
          <p class="error">Поле обязательно для заполнения</p>
        }
      </div>
      <select formControlName="teacher">
        @for (option of teacherOptions; track $index) {
          <option [value]="getItem('tea', $index)">{{option.text}}</option>
        }
      </select>
    </div>

    <div class="field-wrapper" [hidden]="active !== 1" formGroupName="1">
      <div class="field">
        <div>
          <p class="label">Об учителе: </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Шаг 2 -->
  <div class="field-wrapper" [hidden]="active !== 2" formGroupName="2">
    <!-- Имя владельца  -->
    <div class="field">
      <div>
        <p class="label">Имя владельца</p>
        @if (getControl(2, 'owner').errors && getControl(2, 'owner').touched) {
          @if (getControl(2, 'owner').errors?.['required']) {
            <p class="error">Поле обязательно для заполнения</p>
          }
          @if (getControl(2, 'owner').errors?.['pattern']) {
            <p class="error">Имя должно состоять из букв русского алфавит</p>
          }
        }
      </div>
      <input formControlName="owner" maxLength="48" placeholder="Введите имя" />
    </div>

    <!-- Телефон -->
    <div class="field">
      <div>
        <p class="label">Телефон для связи</p>
        @if (getControl(2, 'telephone').errors && getControl(2, 'telephone').touched) {
          @if (getControl(2, 'telephone').errors?.['required']) {
            <p class="error">Поле обязательно для заполнения</p>
          }
          @if (getControl(2, 'telephone').errors?.['phoneLen']) {
            <p class="error">Длина телефона менее 11 цифр</p>
          }
          @if (getControl(2, 'telephone').errors?.['pattern']) {
            <p class="error">Номер должен начинаться с 8</p>
          }

        }
      </div>
      <input formControlName="telephone" maxlength="11" placeholder="8 (___) ___-__-__"
             (invalid)="getControl(2, 'telephone').invalid">
    </div>

    <!-- Email -->
    <div class="field">
      <div>
        <p class="label">Email (необязательно)</p>
        @if (getControl(2, 'email').errors && getControl(2, 'email').touched) {
          @if (getControl(2, 'email').errors && getControl(2, 'email').touched) {
            <p class="error">Некорректный email</p>
          }
        }
      </div>
      <input type="email" formControlName="email" maxLength="48" placeholder="youremail@tempmail.ru">
    </div>

  </div>
  @if (active === 3) {
    <app-check-info [data]="getResult"></app-check-info>
  }
</div>
}



