@if (loading) {
  <app-throbber></app-throbber>
} @else {
  <div class="fields-wrapper" [formGroup]="form">
    <div class="field-wrapper" [hidden]="active !== 0" formGroupName="0">
      <div class="field">
        <div>
          <p class="label">Выберите кота</p>
          @if (getControl(0, 'cat').errors?.['required'] && getControl(0, 'cat').touched) {
            <p class="error">Поле обязательно для заполнения</p>
          }
        </div>
        <select formControlName="cat" (invalid)="getControl(0, 'cat').invalid">
          @for (option of optionsCat; track $index) {
            <option [value]="getItem('cat', $index)">{{option.text}}</option>
          }
        </select>
      </div>
      <div class="field">
        <div>
          <p class="label">Телефон для связи</p>
          @if (getControl(0, 'telephone').errors && getControl(0, 'telephone').touched) {
            @if (getControl(0, 'telephone').errors?.['required']) {
              <p class="error">Поле обязательно для заполнения</p>
            }
            @if (getControl(0, 'telephone').errors?.['pattern']) {
              <p class="error">Введите 11 цифр</p>
            }
          }
        </div>
        <input formControlName="telephone" placeholder="12345678901"
               (invalid)="getControl(0, 'telephone').invalid">
      </div>
      <div class="field">
        <div>
          <p class="label">Email для связи</p>
          @if (getControl(0, 'email').errors?.['pattern'] && getControl(0, 'email').touched) {
            <p class="error">Введите 11 цифр</p>
          }
        </div>
        <input formControlName="email" type="email" placeholder="abc@dfg.ru"
               (invalid)="getControl(0, 'email').invalid">
      </div>
    </div>

    <div class="field-wrapper" [hidden]="active !== 1" formGroupName="1">

      <div class="field">
        <div>
          <!-- Тут пока заглушка -->
          <p class="label">Выберите место</p>
        </div>
          <select name="" id="">
            <option value="">Кинотеатр "Спартак"</option>
            <option value="">Зоопарк "Воронежский"</option>
            <option value="">Музей "Современное искусство"</option>
          </select>
      </div>

      <div class="field">
        <div>
          <!-- Тут пока заглушка -->
          <p class="label">Выберите мероприятие</p>
        </div>
        <select name="" id="">
          <option value="">Мероприятие 1</option>
          <option value="">Мероприятие 2</option>
          <option value="">Мероприятие 3</option>
        </select>
      </div>

      <div class="field">
        <div>
          <!-- Тут пока заглушка -->
          <p class="label">Выберите время посещщения</p>
        </div>
        <select name="" id="">
          <option value="">15:00</option>
          <option value="">16:00</option>
          <option value="">17:00</option>
        </select>
      </div>
    </div>

    @if (active === 2) {
      <app-check-info [data]="getResult"></app-check-info>
    }
  </div>
}
